<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems,      Inc.//DTD  Web Application   2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>refdata-test</display-name>
	<description>Sample Application Common-Controls</description>
	
	<!--
	
		It can also be used on refDataServlet level - but it is required also by
		tag lib
		
		Reference data factory configuration for EJB factory:
		
		- "referenceDataFactoryClass" contains proper name of EJB facade factory class 
		eg. org.ecg.refdata.ejb.EJBFactory,
		
		- "referenceDataFactoryConfigString" contains configuration of JNDI for communication 
		layer between web and EJB layer (format myHost:port/jndiName) 
		eg. "veryImportantServer:1099/significant-ear/sampleBean/remote" without "jnp://" prefix. 
		
		Reference data factory configuration for Spring factory:
		
		- "referenceDataFactoryClass" contains proper name of Spring facade factory class 
		eg. org.ecg.refdata.ejb.SpringFactory,
		
		- "referenceDataFactoryConfigString" contains path to xml bean file config 
		eg. /org/ecg/refdata/spring-beans.xml,
	
   <resource-ref>
        <res-ref-name>/ds/EjbReferenceData</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
   </resource-ref>
   	-->
	<context-param>
		<param-name>referenceDataFactoryClass</param-name>
		<param-value>org.ecg.refdata.ejb.TomEEReferenceDataEJBFacadeFactory</param-value>
	</context-param>
	<context-param>
		<param-name>referenceDataFactoryConfigString</param-name>                
		<param-value>localhost:8080/ReferenceDataSBBean</param-value>
		<!--<param-value>localhost:8080/referencedata-ear/ReferenceDataSBBean/remote</param-value>-->
		<!--<param-value>localhost:8080/global/referencedata-test-tld/PersistenceDataSourceSBBean</param-value>-->
	</context-param>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.ecg.refdata.test.servlet.FrontController</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>res</servlet-name>
		<display-name>Ressourcen Servlet</display-name>
		<description>Verwaltung von Ressourcen</description>
		<servlet-class>com.cc.framework.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefData</servlet-name>
		<servlet-class>org.ecg.refdata.servlet.RefDataServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>res</servlet-name>
		<url-pattern>*.res</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefData</servlet-name>
		<url-pattern>/RefData</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-base.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-base.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-controls.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-controls.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-forms.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-forms.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-menu.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-menu.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-security.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-security.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-svg.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-svg.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/cc-utility.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/cc-utility.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/refdata.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/refdata.tld</taglib-location>
	</taglib>
	<security-constraint>
        <display-name>Authorized Area</display-name>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <description/>
            <url-pattern>*.do</url-pattern>
            <url-pattern>*.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>	
</web-app>